#main{
    background-color: rgb(255, 255, 255);
    flex:1;
}

#projects{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    align-items: center;
    justify-content: center;
}

.project{
    height:250px;
    width:300px;
    background-color: black;
}