
.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    --midtext: clamp(16px,calc(1.3vw + 4px),32px);
    --bigtext: calc(var(--midtext)*1.6);
    font-size: var(--midtext);
}

h1{
    font-size:var(--bigtext);
    font-weight: bold;
    text-align: center;
    margin-bottom: var(--midtext)
}
